<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--۱ތSpring boot੒logback෭பጱἕᦊᯈᗝ-->
    <include
            resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-
${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/consoleappender.xml" />
    <!--᯿ٟԧSpring Boot໛ຝ
   org/springframework/boot/logging/logback/file-appender.xml ᯈᗝ-->
    <appender name="TIME_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MMdd}.%i</fileNamePattern>
            <!--כኸܲݥ෭பӞӻ์ጱ෸ᳵ-->
            <maxHistory>30</maxHistory>
            <!--
            Spring Bootἕᦊఘ٭ӥ҅෭ப෈կ10M෸҅տړڔ෭ப෈կ,ᬯ໏ᦡᗝ෭ப෈կ
           տࣁ100M෸ړڔ෭ப
            -->
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="TIME_FILE" />
    </root>
</configuration>
        <!--
         1̵ᖀಥSpring boot logbackᦡᗝҁݢզࣁappliaction.yml౲ᘏ
        application.propertiesᦡᗝlogging.*ં௔҂
         2̵᯿ٟԧἕᦊᯈᗝ҅ᦡᗝ෭ப෈կय़ੜࣁ100MB෸҅ೲ෭๗ړڔ෭ப҅ݸړڔፓ୯ғ
         blog.2017-08-01.0 80MB
         blog.2017-08-01.1 10MB
         blog.2017-08-02.0 56MB
         blog.2017-08-03.0 53MB
         ......
        -->